@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 25px auto;
}
.btn, .btn1{
    display: flex;
    justify-content: center;
}
#top{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px auto;
    height: 25px;
    width: 150px;
}
table{
    margin: 25px auto;
}
th, td{
    padding: 0 20px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
}
    th{
        background-color: white;
        height: 35px;
    }
